body {
    margin: 0;
    background-color: #5cdb95;
    font-family: monospace;
}

ul {
    margin: 0;
    padding:0;

    display: flex;
}

li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2vh;
}

a {
    color: #05386b;
    text-decoration: none;
    display: inline-block;
    padding: 3vh;
}

nav {
    width: 100vw; /* 100% of viewport width */
    background-color: #5cdb95;
}

button {
    display: none;
}

h1 {
    margin-left: -4vw;
    color: #edf5e1;
    font-size: 4vh;
    padding: 2vh;
}

p {
    color: #379683;
    font-size: 2vh;
}

.first-nav li {
    list-style-type: none;
    margin: 0 1vw;
    font-size: 1vh;
}

.first-nav a {
    color: #05386b;
    text-decoration: none;
    display: inline-block;
    padding: 2vh;
}

.wrapper {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
    ul {
        flex-direction: column;
    }
    li {
        margin: 0;
    }
    a {
        display: block;
        text-align: center;
    }
    button {
        /* make button visible */
        display: block;

        padding: 2vw;
        font-size: 3vh;
        background-color: #5cdb95;
        border: none;
        color: #05386b;

        outline: none;

        cursor: pointer;
    }
}
